@section=site guide
@heading=About the Site
@header

<!-- This file is preprocessed by cgi/html.cgi -->


<p><strong>repo.or.cz</strong> is a public <a href="https://git-scm.com/">Git</a> hosting site.
You can <a href="@@webadmurl@@/regproj.cgi">create a project</a> here and then publish your development by pushing
to it, or even enable push access for multiple developers.
Alternatively, you can just set up a mirror of any project published elsewhere
and we will provide pull and gitweb access for the project.</p>

<p>In the push mode, every developer that wants push access will need to
<a href="@@webadmurl@@/reguser.cgi">create an account</a> and use SSH for pushing changes;
using the project administration password, you will be able to add/remove
permission for developers to push. Also, optional <a href="@@htmlurl@@/mob.html">anonymous push access</a>
to a dedicated <tt>mob</tt> branch is supported.</p>

<p>In the mirror mode, we will check the remote repository at the URL you give
us every hour and if we spot any changes, we will grab them, mirror them and
show them in our gitweb interface; we will also send you notifications by mail
or JSON if you set it up.  It's a matter of few clicks to set up a mirror &#x2013;
don't be shy and feel free to create mirror for any git project without a
decent gitweb interface or with badly hosted repository; you don't need to be
the project maintainer to setup a mirror.</p>

<h2>Terms and Conditions</h2>

<p>There are only three conditions:</p>

<ul>
<li>Your project must be free software and distributing it must not violate the laws
of Czech Republic and Germany (and just to be safe, all laws common to the European Union).
(The registration process is completely automatic but we will remove your project
if we find out during manual inspection or on request by someone relevant.)</li>
<li>The repository size should not exceed 400M after repacking (let us know
if you need an exception). If you need more, you are running quite a big
project and should be able to arrange own hosting; but we can and likely will
grant exceptions. Note that e.g. CVS-imported glibc repository with ~15 years
worth of history is just 100M.</li>
<li>You must not use our systems in ways that impact our system stability or the
overall experience of everyone else.  For example, using our servers for asset
delivery (i.e. providing direct download links for users other than for snapshots or git
clones, bulk automatic fetching of individual files, etc.).  Offending repositories
and/or clients will be blocked as necessary with no advance notification whatsoever
whenever necessary to avoid deleterious impacts to our service.</li>
</ul>

<p>This site provides NO WARRANTY of any legal kind about whatever you store
here. Someone can crack your account or the site, alter the data, make mayhem
and whatever else; we cannot be held responsible for any damages that may be
caused to you in any way in connection with this site.</p>


<h2>Backup policy</h2>

<p>Your repository is NOT backed up! Why? Because you have backups yourself,
and all your users do, too! The distributed nature of Git means that all the
developers and all the users who ever cloned the repository have the full
history of it, and shall any disaster happen to repo.or.cz, all can be
easily restored by a single simple push. That said, we may set up backups
in the future if the service becomes popular enough.</p>


<h2>Operation</h2>

<p>repo.or.cz is the brain child of <a href="mailto:pasky@ucw.cz">Petr Baudis</a>
who also ran it all by himself for many years.</p>

<p>repo.or.cz runs on a Hetzner Cloud VPS with redundant block storage for
the repositories. The server and connectivity is sponsored by (part of) the
repo.or.cz admin team (<a href="sponsoring.html">details</a>).</p>

<p>Virtually all the infrastructure is available
in git repositories <a href="@@giroccourl@@">girocco.git</a>
and <a href="@@gitweburl@@/girocco-gitweb.git">girocco-gitweb.git</a>
and is licenced under GPLv2.</p>

<p>Initial development of repo.or.cz/Girocco development was sponsored by
SUSE / Novell Inc. and Novartis Pharma AG.</p>

<h3>Operation history</h3>

<ul>
<li>Until June 2022, repo.or.cz was located at Charles University, Prague, CZ
(who generously sponsored connectivity and co-location), with hardware
sponsored by many amazing volunteers from the community
(<a href="@@htmlurl@@/pledge.html">details</a>).</li>

<li>Until early 2010, repo.or.cz hardware and connectivity was generously
sponsored by UPC.CZ.</li>
</ul>

<h2>About Girocco</h2>

<p>The site runs on <a href="https://repo.or.cz/girocco.git">Girocco</a>: a free
and reasonably easy-to-install Git hosting suite supporting multiple
operation modes; it has only essential features and is very UNIXy,
thus is fairly simple to understand.
<a href="https://repo.or.cz/girocco.git/blob/HEAD:/README">(read more)</a></p>
