@section=site guide
@heading=About the Admin Team
@header

<!-- This file is preprocessed by cgi/html.cgi -->

<p>repo.or.cz is developed and maintained by volunteers. The admin
team is reachable at <a href="mailto:admin@repo.or.cz">admin@repo.or.cz</a>.</p>

<p>One or more members of the admin team can usually be found in the #repo.or.cz
irc channel on <a href="https://libera.chat/">Libera.Chat</a>.<br />Visit
<a href="https://web.libera.chat/#repo.or.cz">https://web.libera.chat/#repo.or.cz</a>
or <a href="https://web.libera.chat/gamja/#repo.or.cz">https://web.libera.chat/gamja/#repo.or.cz</a>
(more lightweight) to join the channel using a browser.</p>

<p>If you are interested in helping out, please see the
<a href="volunteers.html">volunteer information</a>.</p>

<h2 style="margin-top:1.25em">Members</h2>
<ul>
<li>Petr Baudis (<tt>pasky</tt>)</li>
<li>Raf Czlonka (<tt>rjc</tt>)</li>
<li>Richard Hartmann (<tt>RichiH</tt>)</li>
<li>Joshua Keyes</li>
<li>Daniel Knittl-Frank (<tt>knittl</tt>)</li>
<li>Jan Kr&#xfc;ger (<tt>jast</tt>)</li>
<li>Kyle McKay (<tt>mackyle</tt>)</li>
<li>Mike Simkins (<tt>msimkins</tt>)</li>
</ul>

<h2 style="margin-top:1.25em;margin-bottom:0">Past Members</h2>
<ul>
<li>Steven Crothers (<tt>crothers</tt>)</li>
<li>Brian Hetro</li>
<li>Andrew Kraut (<tt>akraut</tt>)</li>
<li>Alejandro Mery (<tt>mnemoc</tt>)</li>
<li>Susan Potter (<tt>mbbx6spp</tt>)</li>
<li>Manish Sharma</li>
<li>Jacob Smith</li>
<li>Andrew Steinborn (<tt>I-20</tt>)</li>
<li>Peter Zotov (<tt>whitequark</tt>)</li>
</ul>
