/* Girocco CSS */

.form {
	padding: 0;
}

.projectlist, .bundlelist, p, pre {
	margin-left: 1ex;
	margin-right: 1ex;
}

div.htmlcgi .projectlist,
div.htmlcgi .bundlelist,
div.htmlcgi p,
div.htmlcgi pre {
	margin-left: 0;
	margin-right: 0;
}

div.htmlcgi {
	margin-left: 1ex;
	margin-right: 1ex;
}

div.htmlcgi h1 {
	font-size: 150%;
}

div.htmlcgi h2 {
	font-size: 125%;
}

div.htmlcgi h3 {
	font-size: 110%;
}

div.htmlcgi h4 {
	font-size: 100%;
}

.formlabel {
	margin-right: 0.5em;
	padding-top: 0.3em;
	text-align: right;
	background-color: #d9d8d1;
	line-height: 1.75em;
}

.formdata, .formdatatd {
	padding-top: 0.3em;
	line-height: 1.75em;
}

.formdata {
	padding-left: 0.75em;
}

.ctxaction {
	text-decoration: none;
}

.timestamp {
	white-space: nowrap;
	font-size: 1.5ex;
}

.updated {
	white-space: nowrap;
	color: green;
	font-weight: bold;
	font-size: 125%;
}

.failed {
	white-space: nowrap;
	color: #c00000;
	font-weight: bold;
	font-size: 125%;
}

.projectlist {
	margin-left: 3ex;
}

.projectlist a {
	color: inherit;
	text-decoration: none;
	border-bottom: thin dotted;
}

.projectlist a:hover {
	border-bottom: thin solid;
}

.projectlist a:active {
	color: red;
}

.projectlist .odd, .bundlelist .odd {
	background-color: #f4f4f4;
}

.projectlist th, .projectlist td,
.bundlelist th, .bundlelist td {
	padding: 0.5ex 0.75ex;
}

.projectlist th, .bundlelist th {
	text-align: left;
}

.projectlist th.desc {
	min-width: 40ex;
}

.projectlist th,
.projectlist td:first-child,
.projectlist td.sizecol,
.projectlist td.type,
.projectlist td.change,
.projectlist td.idle,
.bundlelist th,
.bundlelist td {
	white-space: nowrap;
}

.projectlist th.sizecol,
.projectlist td.sizecol {
	text-align: right;
}

.nowrap {
	white-space: nowrap !important;
	min-width: 0 !important;
}

.indent {
	margin-left: 3ex !important;
}

.hover {
	position: relative;
	border-bottom: thin dotted;
}

.hover:hover {
	border-bottom: hidden;
	background-color: #ffffe4;
}

.hover > span:first-child {
	position: absolute;
	left: 0;
	top: +100%;
	margin-top: 1ex;
	margin-left: 1.25ex;
	border: thin solid;
	padding: 1ex;
	background-color: white;
	min-width: 45ex;
	z-index: 1;
	white-space: normal;
	font-weight: normal;
	text-align: left;
	visibility: hidden;
}

.hover .head {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.hover .head:before {
	Content: attr(_data);
}

.hover:hover > span:first-child {
	visibility: visible;
}

.none {
	display: none;
}

.before:before {
	Content: attr(_data);
}

sup.sup {
	position: relative;
	font-size: 100%;
	vertical-align: baseline;
	bottom: +1ex;
}
sup.sup > span:first-child {
	position: relative;
	font-size: smaller;
	top: +1pt;
}

sub.sub {
	position: relative;
	font-size: 100%;
	vertical-align: baseline;
	top: +1pt;
}
sub.sub > span:first-child {
	position: relative;
	font-size: smaller;
	top: +0.5ex;
}
