@section=site guide
@heading=Sponsoring philosophy
@header

<!-- This file is preprocessed by cgi/html.cgi -->


<p>repo.or.cz is sponsored by the people who run it. As the one who started
out paying 100% of the costs when we migrated away from externally sponsored
internet connectivity (though more members of the admin team joined in within
days), please allow me to explain why.</p>

<p>I find aggressive donation drives really annoying. I don't want to expose
people to more of them unless there really is no other option. I can afford to
keep repo.or.cz running and I don't need anything in return. I don't think
repo.or.cz should need to care about costs, nor should it make any profit.</p>

<p>I will split costs with people who feel the same way. All people who are
covering part of the cost will be listed here. It will be a small list because
coordinating with more than a few people is tedious.</p>

<p>If you want to thank us for running repo.or.cz, please do it by paying it
forward: do something nice for someone else. All details are up to you.</p>

<h2>Contributors to costs of operation</h2>

<ul>
<li>Jan Krüger</a> (<code>jast</code> on IRC)</li>
<li>Daniel Knittl-Frank (<code>knittl</code> on IRC)</li>
</ul>
