@section=site guide
@heading=Volunteers
@header

<!-- This file is preprocessed by cgi/html.cgi -->


<p><em>At this time we are not actively looking for extra volunteers.</em></p>

<p>Who do we want:</p>
<ul>
<li>People with motivation to help out one of the largest public Git hosting
sites who don't mind helping out some poor user once in a week and/or want
to enhance repo.or.cz services and features while also fixing few bugs
in the process</li>
<li>People with reasonable experience in all of UNIX/GNU, shell scripting,
Perl and Git itself</li>
<li>Trustworthy persons with no bad history and preferrably some existing
open-source community involvement - ideally (but not required) in the Git
community</li>
<li>People who don't mind working in a team, are willing to put up with
a perfectionist <a href="mailto:pasky@ucw.cz">pasky</a> at the beginning
and can get used to thinking thrice before doing something on the live
database</li>
</ul>

<p>What will you do (at least some of... ;-):</p>
<ul>
<li>Supporting users over email, possibly IRC. We get one support issue
per week on average, usually project deletion requests.</li>
<li>Other maintenance tasks - checking if jobs don't get stuck, possible
project breakage, reviewing+applying patches from users, monitoring
bogus content tags usage, cleaning up badly created projects and handling
server overload (all fairly rare occurences)</li>
<li>Implement gadgets to ease your maintenance tasks- could be e.g. issue
tracking system or ability for users to remove projects themselves.</li>
<li>Fix repo.or.cz bugs. E.g. the mirroring process gets stuck once in a while
on misbehaving mirror source, and sometimes objects get lost during gc that
shouldn't.</li>
<li>Implement cool new features. E.g. something from the
<a href="/girocco.git/blob/HEAD:TODO">Girocco TODO list</a>,
cleaning up and adding support for more mirroring source VCSes, user experience
improvements, maybe some interesting statistical analysis...</li>
</ul>

<p>What's in it for you:</p>
<ul>
<li>Most importantly, good warm feeling in your heart! ;-)</li>
<li>Chance to play with a reasonably large site and try out interesting
things.</li>
<li>Learning more UNIX/shell/perl/git on a very practical project.</li>
<li>Getting more involved in the Git development community, getting general
experience with OSS development of something that's actually immediately useful.</li>
<li>Low and totally flexible time demands.</li>
<li>Nice CV point to be sure!</li>
</ul>

<p>Are you interested? <del>Please apply at <a href="mailto:pasky@ucw.cz">pasky@ucw.cz</a></del>.
(Note: If you want to look at the current repo.or.cz codebase or even
deploy a copy locally to play with, just look at <a href="/girocco.git">girocco.git</a>.)</p>

<p>TODO: Make everything below this line less public. ;-)
So far, no huge deal I guess.
Volunteers can see what will they work with.</p>

<hr />

<h2>The Admin Team Plan</h2>

<p>These are pasky's ideas on how to set up the admin team and transfer
control to it:</p>

<ul>
<li>Gather feedback and confirmation from volunteers that already applied.</li>
<li>Set up admin@repo.or.cz alias plus internal mailing list.</li>
<li>Create accounts for new recruits with sudo access to the 'repo' account.
(We just got a complete tree backup while migrating, so we can be liberal
and relatively trusting at the beginning. ;)</li>
<li>Let the new recruits start helping out and self-organizing. There will
be probably need to create a deployment staging area and some cooperation
rules to avoid race conditions, but I'd prefer the new admin team to already
figure that out for themselves.</li>
<li>Give the two or three most experienced members root access after a while.</li>
<li>Pasky would like to stay in the loop and keep veto power for a while
to protect the site from some bad deterioration or major turnovers.</li>
</ul>

<p>New admins rules:</p>

<ul>
<li>Do not be shy doing stuff. If you are not doing it, noone else probably
is either. Just send a mail when you start doing something, and another
when you are done.</li>
<li>Document everything you do outside of your sandbox. On the mailing list
for starters, we can figure out better book-keeping later. Reply on admin@
to all user requests that you have handled.</li>
<li>Ask for consultations and acks whenever you have shadow of doubt.</li>
<li>Think trice. Avoid doing unrevertable things!</li>
<li>Think once. Make plenty of non-destructive quick experiments to learn about
stuff.</li>
<li>No abuse. One of us is directly responsible for everything that happens
on this server. If you do stuff like illegal filesharing, that person will be
very much not amused (and will definitely cooperate with the authorities in
finding out who's responsible)!</li>
<li>Do not use Ctrl-C to quit screen. You could kill a task!</li>
</ul>

<hr />

<h2>Cookbook</h2>

<p>Working as <code>repo</code> user:</p>

<ul>
<li>All infrastructure is owned by the repo user, and runs as repo (except
web scripts, suexec is not set up - for now?)</li>
<li><em>Always</em> work under the shared screen so others can check out who
is working on what: <code>screen -x repo/admins</code>, this will get you to
our shared screen session. jobd (updating mirrors, running gc) and taskd
(creating mirrors, push notifications) run in the first two windows. Shells in
screen are owned by user <code>repo</code></li>.
<li>Live copy lives in <code>~/repomgr</code> and <code>~/WWW</code>,
chroot jail for pushing is in <code>~/j</code>, codebase is in
<code>~/repo</code>.</li>
<li>Do <em>not</em> work directly in <code>~/repo</code>. If you want to
edit files, clone <code>Girocco.git</code> and push after committing (and
verifying) your changes locally.</li>
<li>To update the live copy, <code>cd ~/repo</code>, <code>git pull</code>
(should fast-forward), then <code>make install</code>.
This will OVERWRITE complete <code>~/repomgr</code>! It's also not really
necessary anymore to do this manually because the live copy auto-updates from
the <code>rorcz</code> branch every 15 minutes.</li>
</ul>

<p>New admins checklist:</p>

<ul>
<li>Make yourself a <code>.forward</code> file so that you receive admin@ mail.</li>
<li>Add yourself to <a href="/h/admins.html">the admin team page</a>,
which is also a nice way to get comfortable with our girocco setup.</li>
<li>Send a short introduction to admin@repo.or.cz.</li>
<li>Take a look at the list of TODO items in rorcz branch of girocco. Perhaps you could tackle something right away?</li>
<li>If you are bored, ask for some ideas! Or perhaps we can bounce to you some requests we did not have time to deal with. Don't be shy!</li>
<li>Please check periodically that the jobd in screen window 0 is not stuck.</li>
<li>Try to deal with something from <a href="/girocco.git/blob/rorcz:TODO">the TODO list</a>.</li>
</ul>

<p>Removing a project:</p>

<ul>
<li><em>pasky</em>: Philosophically, I'm not too happy to remove a project
unless there's a good reason like turning it to a mirror or some consolidation
or legal reasons (or it's almost empty); I believe in archiving everything.
This position can change if others disagree.</li>
<li>We've supported self-service deletions for quite some time now, linked at
the top of each project's <code>edit</code> page.</li>
<li>For manual deletions, check out
<code>/home/repo/repo/toolbox/projtool.pl</code> which has a
<code>remove</code> subcommand (also note the <code>--keep-forks</code> option
in particular).</li>
</ul>

<p>Other things running on the server &ndash; at this time, everything running
is directly related to repo.or.cz operations:</p>

<ul>
<li>Postfix for delivering notification emails and forwarding admin emails</li>
<li>A simple spam filter (currently SpamAssassin) for the admin list</li>
<li>knot-resolver, a local-only recursive DNS service</li>
<li>fail2ban for making it harder to do annoying things to our server</li>
</ul>
