<style type="text/css">
.notice {
	margin:1em 0em 2em;
	padding:1ex 3ex;
	background-color:#cdf;
}
</style>

<div style="font-size: 1.5em; color: orange">
<p>The system is currently in read-only mode!<br />
Pushes and project/user modifications are not allowed,
but fetch and view operations continue to be available.</p>
<p>Don't worry, we are just doing migration/maintenance work and we'll be back to
normal soon. Feel free to look at our <a href="https://c.im/@repo_or_cz">Mastodon feed</a>,
we might be posting updates there.</p>
</div>

<p><strong>repo.or.cz</strong> is a public <a href="https://git-scm.com/">Git</a> hosting site.
Create a project in a snap, <strong>publish your development</strong>, give others push
access and let anyone have a look and contribute.
Alternatively, if you just see a random <code>git://</code> URL fly by and
want to check it out, or you have limited bandwidth or want backup - just quickly
<strong>set up a mirror</strong> of any project published
elsewhere and we will provide pull and gitweb access for the project,
or send you notifications when new stuff gets committed.
<a href="/about.html">(read more, terms of use)</a>
<a rel="me" href="https://c.im/@repo_or_cz">(official service updates on Mastodon)</a></p>

<p>The service is maintained by the <a href="/admins.html">admin team</a> as a public service for the Git community,
please contact <a href="mailto:admin@repo.or.cz">admin@repo.or.cz</a> with any requests, proposals, issues or patches - the
underlying engine is <a href="/girocco.git">fully open-source</a> and easy to deploy.
Or you may be also interested in
<a href="https://git.wiki.kernel.org/index.php/GitHosting">other Git hosting sites</a>.</p>

<p align="center"><a href="/regproj.cgi">Register project</a> |
<a href="/reguser.cgi">Register user</a> |
<a href="/rootcert.html">Root certificate</a> |
<a href="/edituser.cgi">Update user email/SSH keys</a></p>

<div class="forkinfo">
How to grab a project?  Simply <code>git clone git://repo.or.cz/project.git</code>.<br />
Then, repeat <code>git pull</code> to update to the latest version of the project.<br />
See the <a href="https://git-scm.com/">The Git Homepage</a>
for more details about Git and its usage.
</div>
